<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
 // echo "ok comming".$_SERVER['SCRIPT_NAME'];  
if ($_SERVER['REQUEST_URI']!="" && $_SERVER['REQUEST_URI']!="/" && file_exists(__DIR__ . '/' . $_SERVER['REQUEST_URI'])) {
     include_once (__DIR__ . $_SERVER['REQUEST_URI']); // serve the requested resource as-is.
} else {
    // this is the important part!
   // $_SERVER['SCRIPT_NAME'] ="index.php";
   // echo "ok comming".$_SERVER['SCRIPT_NAME']; die;
    include_once (__DIR__ .$_SERVER['SCRIPT_NAME']  );
}