/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #797979;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 3px;
}
p {
    margin: 0 0 10px;
}
a:hover{text-decoration:none;}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header .container{
	border-bottom:1px solid rgba(255, 255, 255, 0.25);
	padding: 5px 0;
}
.appoinment{text-align:right;     color: #e03637;}
.appoinment a {
    color: #e03637;
    display: block;
    font-size: 25px;
    font-weight: 700;
    height: 52px;
    /* margin-top: 25px; */
    padding: 28px 16px 14px;
    text-align: center;
    display: inline-block;
    transition: all 500ms ease 0s;
}
.banner{  background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../images/banner_1.jpg);
    background-size: cover;
    background-position: center bottom;
	 position:relative;
	 }
	.ban-box{    line-height: 24px;
    border-width: 0px;
    margin: 0px;
    padding: 40px 40px 25px 30px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff; position:absolute;z-index: 99;
    top: 95px;
	max-width:100%;
	}
	.ban-box .border {
    background: #ff4800;
    height: 3px;
    width: 100px;
    display: block;
    margin-bottom: 22px;
}
.ban-box form input[type=email]{ width:70%; padding: 8px;     letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;float: left ;
    height: 44px;
	    color: #333333;
}
.ban-box form input[type=submit]{    font-size: 14px ;
    background: #ff0000;
    width: 30% ;
    float: left ;
    height: 44px;
    border: none;
    color: #fff ;
    text-align: -webkit-center;
    line-height: 30px ;}
.subscribe-box {
    position: relative;
    margin: 10px 15%;
	    top: 20px;
}
.subscribe-box .form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #1682b1;
    border-radius: 5px;
    box-shadow: none;
    color: #4c5462;
    font-size: 18px;
    height: 45px;
    padding: 0 20px 0 20px;
    font-size: 12px;
}
.subscribe-box .form-control::-moz-placeholder {
    color: #4c5462;
    font-size: 18px;
}
.subscribe-box button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border: medium none;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
    height: 45px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 0;
}
#features {
    padding: 20px 0;
}

.why-section {
    background: #000 url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative; margin-top:50px;}
	
	.why-top {
    position: relative;
    padding: 60px 0;
    z-index: 1;
}

.why-top:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: .48;
    z-index: -1;
}
.cls_cal h2 {
    color: #fff;
   font-size: 30px;
    line-height: 45px;
    text-align: center;
    padding: 20px 0px;
	    color: #0394af;
}

.cls_cal p {
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding-bottom: 20px;
	color:#282828;
}
.why-top .single-item .icon-holder, .why-top .single-item .content{
    display: table-cell;
    vertical-align: middle;
}




footer{    padding: 10px 0px;
    background: #fff;}
	
	.single-footer-widget .sec-title {
    margin-top: 0px;
    padding-bottom: 0;
}
.sec-title h2 {
    color: #343434;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}
.single-footer-widget .sec-title h2 {
    color: #ffffff;
}
.sec-title span.decor {
    border: 1px solid #ff4800;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.sec-title.text-left span.decor {
    margin-left: 71px;
}
.single-footer-widget .sec-title span.decor {
    border: 1px solid #fff;
}
.sec-title span.decor::before {
    background: #ff4800 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: -71px;
    position: absolute;
    top: 4px;
    width: 60px;
}
.single-footer-widget .sec-title span.decor::before {
    background: #fff none repeat scroll 0 0;
}
.sec-title span.decor::after {
    background: #ff4800 none repeat scroll 0 0;
    content: "";
    height: 1px;
    right: -71px;
    position: absolute;
    top: 4px;
    width: 60px;
}
.single-footer-widget .service-list li {
    line-height: 40px;
    color: #282828;
    transition: all 700ms ease 0s;
	display:inline-block;
	    
}

.single-footer-widget .sec-title span.decor::after {
    background: #fff none repeat scroll 0 0;
}
.single-footer-widget .service-list li a {
    color: #b9b9b9;
    transition: color .3s ease;
}
.copyrights{ background-color:#2d2d2d; padding: 10px 0px; }
.client-section{padding-top: 40px;
    padding-bottom: 50px;
    background: #b3b3b3;}
	.sec-title {
    padding-bottom: 18px;
    margin-top: -9px;
}
.sec-title h1 {
    color: #343434;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    padding-top: 3px;
}
.Clients  {

    z-index: 9;

	}
.single-circle {
	    margin-top: -40px;
}
.single-circle h3 {
    text-align: center;
    font-size: 16px;
    color: #282828;
	
}
.circle {
    max-width: 190px;
    width: 135px;
    margin: 0px auto;
    height: 135px;
    border-radius: 50%;
    border: 2px solid #fff;
	padding:25px;
}
.orange {
	color: #ff6701;
	line-height: 45px;
}
.media.service-box .pull-left {
    margin-right: 20px;
	    margin-bottom: 15px;
}
.media.service-box .pull-left > i {
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    color: #FF6600;
    box-shadow: inset 0 0 0 1px #d7d7d7;
    -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
    transition: background-color 400ms, background-color 400ms;
    position: relative;
}
.media.service-box .pull-left > i:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 88%;
    margin-top: -10px;
    right: -3px;
    border: 4px solid #fff;
    background: #FF6600;
}
.banner h1 {
    color: #FFFFFF;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    position: relative;
    display: inline-block;
}
.banner h1 sup {
    font-size: 32px;
    position: absolute;
}
.banner h1 sub {
    font-size: 32px;
    position: absolute;
    right: 0;
    bottom: -18px;
}
.feature {
	    background: #eee;
    height: 150px;
}
#cta2 {
    background: #242a33 url(../images/cta2-bg.jpg) 50% repeat fixed;
    min-height: 100%;
    background-size: cover;
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
    opacity: 0.85;
}
#cta2 h2 > span {
    color: #FF6600;
	    text-transform: uppercase;
    font-size: 38px;
    font-weight: 600;
}
#contact {
    position: relative;
}
#contact .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 50px;
}
#contact .container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 126, 23, 0.2);
    z-index: 1;
}
#get-in-touch {
    padding: 25px 0 50px;
    background-image: -moz-linear-gradient(90deg, #ffffff 0%, #5496d9 100%);
        background-image: -webkit-linear-gradient(90deg, #ffffff 0%, #5496d9 100%);
    background-image: -ms-linear-gradient(90deg, #ffffff 0%, #5496d9 100%);
    color: #fff;
}
.section-header {
    margin-bottom: 0px;
}
.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    margin: 0 0 20px;
}
#get-in-touch h2 {
    color: #fff;
}
.section-header .section-title:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    background: #FF6600;
}
.section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 1px;
    background: #ebebeb;
}
@media only screen and (max-width: 980px) {
.single-circle {
	margin:10px;
}
.subscribe-box {
    margin: 10px;
}
.text-right {
	text-align:left;
}
.media, .media-body {
	overflow:inherit;
}
.feature {
	height:auto;
}
.service-box{display:none;}
.banner h1{font-size:35px;}
}
@media only screen and (max-width: 660px) {
	.ban-box{width:auto;}
	.appoinment {
    text-align: center;
}
.logo{margin:0 auto;}
}



#awesome-features-area .awesome-feature {
    margin-top: 80px;
}
#awesome-features-area .media-left {
    padding-right: 20px;
}
.awesome-feature-icon span {
    display: block;
    height: 80px;
    margin-left: 10px;
    position: relative;
    width: 80px;
	text-align: center;
    padding-top: 10px;
}
.awesome-feature-icon span:after {
	border:1px #999999 solid;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.awesome-feature-icon i {
    background-color: #f5f7fa;
    border-radius: 60px;
    color: #4c5462;
    display: inline-block;
    font-size: 24px;
    height: calc(100% - 2px);
    left: 1px;
    line-height: 58px;
    position: relative;
    text-align: center;
    top: 1px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: calc(100% - 2px);
    z-index: 1;
}
.awesome-feature:hover .awesome-feature-icon i {
    background: transparent;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.asesome-feature-details h5 {
    font-weight: 700;
       padding-top: 25px;
 	font-size:20px;
	color: #fff;
    font-weight: lighter;
}
.features{
	    margin: 20px 0px;
}
.email-submit-btn i{display:none;}
.form-control{width:48%; display:inline-block; font-size:14px;}
@media only screen and (max-width: 1200px) {
.ban-box{position:static;     margin-top: 10px;}
.media.service-box .pull-left > i{    width: 45px;}
}
@media only screen and (max-width: 768px) {

	.email-submit-btn i{display:block;}
	.subscribe-box .form-control{padding: 0 0px 0 50px;}
	.single-footer-widget .sec-title{text-align:center; padding-bottom:10px;}
	.subscribe-box{top: -159px;}
	.form-control{width:100%; margin-bottom:10px;}
	.subscribe-box button{right: 0;
    bottom: 10px; top:auto;}
.single-circle {
	margin:10px;
}
.fl-lft{
		float:left;
	}
.subscribe-box {
    top: 10px;
	margin:0px 20px;
}
.logo{margin:0 auto;}
.appoinment {
    text-align: center;
}
	.subscribe-box button {
		position:static;
		width:80%;
	]
#contact .contact-form{    margin-top: 120px;}
}
@media only screen and (max-width: 711px) {
.banner h1 {
    font-size: 28px;
}
.banner h1 sup, .banner h1 sub {
    font-size: 20px;
	}

}
@media only screen and (max-width: 602px) {
.banner h1 {
    font-size: 24px;
}
}
@media only screen and (max-width: 540px) {
.banner .col-md-6{ width:100%;}
.ban-box{text-align:center;}
}
@media only screen and (max-width: 415px) {

.main-header.stricky{position:absolute !important;}
.appoinment a {
    font-size: 26px;
    font-weight: 700;
    height: 34px;
    padding: 18px 16px 14px;
}
.ban-box{padding:0;}
#startchange h1{   
    font-size: 24px !important;}
	.subscribe-box {
    margin: 10px 20px;
}
.banner {
    
	}

	.email-submit-btn i{display:block;}
	.subscribe-box .form-control{padding: 0 0px 0 20px;}
	.single-footer-widget .sec-title{text-align:center; padding-bottom:10px;}
	.subscribe-box{top: -159px;}
	.form-control{width:100%; margin-bottom:10px;}
	.subscribe-box button{right: 0;
    bottom: 10px; top:auto;}
	.subscribe-box {
		top:0px;
	}
	#get-in-touch {
		padding:20px 5px;
	}
	.section-header {
		margin-bottom:0px;
	}
	.fl-lft{
		float:left;
	}
}
body{overflow-x: hidden;}
@media only screen and (max-width: 414px) {
.subscribe-box button{bottom: 10px;}
.subscribe-box .form-control::placeholder {
  font-size:14px;
}
.copyrights {
    text-align: center;
}
}