@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.logo-business {
	margin-left: auto;
margin-right: 21px;
display: block;
}

.intro_section .slide_description_wrapper {
    padding: 0;
    position: static;
    margin-top: 134px;
}
	
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.header_left_logo .logo img {
    max-width: 260px;
}
.inline-content{
	text-align:center;
	margin: 5px;
}
.social{
	padding:10px;
}
a.logo {
    display: inline-block;
    word-break: break-word;
    font-size: 24px;
    position: relative;
    z-index: 2;
    padding: 5px 0;
	margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select, .form-control {
   margin-bottom:10px;
   margin-right: 35px;
   height: 35px;
}

.my-btn {
  text-align: center;
margin-right: 35px;
background: #e92a18;
color: #fff;
padding: 8px 56px;
border: none;
border-radius: 5px;
font-size: 17px;
}
.intro_section h2 {
    font-size: 18px;
    margin-bottom: 0.2em;
	margin-top: 8px;
}
.intro_section h3 {
    margin-bottom: 0.1em;
    font-weight: 300;
    font-size: 13px;
}

.intro_section .slide_description {
    padding-top:5px;
	padding-bottom:15px;
}
.my-txt {
    color: #333;
    font-size: 17px;
    padding: 0px 15px;
    /* text-shadow: 1px 1px #6d6d6d; */
}

.btm-txt {
   color: #333;
text-align: center;

font-size: 15px;
padding-top: 10px;
padding-bottom: 1px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 210px;
    margin: 0 auto;
}

.complince img{
	width: 120px;
	text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}
.my-img {
    padding: 19px 28px;
    color: #333;
	margin-bottom: 13px;
}
.foot-top {
    margin: 10px;
}

.logo-business {
	margin-left: auto;
margin-right: 21px;
display: block;
}

.banner{
	margin-top: -100px;
}



}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


nput[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select, .form-control {
    height: 40px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #303030;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 8px;
    line-height: 30px;
}

nput[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select, .form-control {
    height: 40px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #303030;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px;
    line-height: 30px;
}

.my-btn {
    background: #e92a18;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.form-business {
    text-align: right;
    margin-top: 12px;
}

.intro_section h2 {
    font-size: 30px;
}
.intro_section h3 {
    font-size: 30px;
    text-transform: capitalize;
}

.my-txt {
    color: #fff;
    font-size: 19px;
    padding: 0px 15px;
    text-shadow: 1px 1px #6d6d6d;
    margin-top: 60px;
}

.my-img {
    padding: 18px 20px;
    color: #333;
}
.btm-txt {
    color: #333;
    text-align: center;
    padding: 45px 0px;
    font-size: 18px;
}
.btm-txt {
    color: #333;
    text-align: center;
    padding: 25px 0px;
    font-size: 16px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
	margin-bottom: 10px;
}


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 700px) and (max-device-width : 1024px) and (orientation : landscape) {
	
	.my-txt {
    color: #fff;
    font-size: 17px;
    padding: 0px 71px;
   text-align:justify;
}
.inline-content{
	text-align:center;
	margin:5px;
}
.social{
	margin:5px;
}
.page_copyright p {
    margin: 0;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

.my-btn {
    background: #e92a18;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}



}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1100px) {

.my-btn {
    background: #e92a18;
    color: #fff;
    padding: 8px 19px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select, .form-control {
    height: 40px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
    color: #303030;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 5px;
    line-height: 30px;
}



}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.page_header {
    height: auto;
    margin: 12px 0px;
    padding-right: 15px;
}



}


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

.logo-business {
	margin-left: auto;
margin-right: 21px;
display: block;
}



}